work/
.nextflow/
.nextflow.log*
results*/
test_results/
gvcf_batch_*.tsv
*.bim_targets.tsv
batch_list*.tsv
slurm-*.out
report-*.html
timeline-*.html
archive/
nextflowPrevious/
pipelineBeforeSebModif/
*.zip
test_v3/
test_v1/
test_v2/
