params {
    topN = 1000                // BUG1 FIX: était "params.topN = 4" — syntaxe invalide dans un bloc params{}
    inputDirpVCF            = "/home/$USER/links/projects/rrg-jacquese/LAB_WORKSPACE/RAW_DATA/Genetic/SPARK/iWGS_v1_gVCF/pvcf"
    outputDir               = "/home/$USER/links/projects/rrg-jacquese/mame20/WGS_pipeline/results"
    scriptDir               = "/home/$USER/links/projects/rrg-jacquese/mame20/WGS_pipeline/scripts"
    inputDirgVCF            = "/lustre09/project/6008022/LAB_WORKSPACE/STUDY_DIRECTORY/WGS_CNV_DETECTION/oldAnalysis/newAnalysisOn5760IndividualsRM/remaininggVCF"
    PLINK_filter_options    = "--geno 0.05 --mind 0.05 --hwe 1e-6 --maf 0.001"
    n_batches               = 20         // nb de lots (pour split_iids)
    polars_threads          = 4         // threads Polars par tâche pfb_partial
    baf_dir_path = null  
    gvcf_batch_size = 125   // ~100 jobs pour 12509 individus
    filter_batch_size = 250 
}
executor {
    name            = 'slurm'
    queueSize       = 100
    submitRateLimit = '10/1min'
}

process {
    clusterOptions = '--account=rrg-jacquese'

    errorStrategy = { task.exitStatus in [137, 140] ? 'retry' : 'finish' }
    maxRetries    = 2

    cpus   = 4
    memory = '16 GB'   // défaut pour les petits processus
    time   = '2h'

    withName: 'pVCF_to_plink' {
        cpus   = 8
        memory = { 32.GB * task.attempt }   // attempt 1: 32GB, 2: 64GB, 3: 96GB
        time   =  { 2.h * task.attempt } 
    }
    withName: 'plink_filter_merge' {
        cpus   = 16
        memory = { 64.GB * task.attempt }
        time   = { 4.h * task.attempt }
    }
    withName: 'gvcf_to_signalintensity' {
        cpus   = 8
        memory = { 64.GB * task.attempt }
        time   = { 8.h * task.attempt }
    }
    withName: 'pfb_partial' {
        cpus   = 4
        memory = { 64.GB * task.attempt }
        time   = { 5.h * task.attempt }
    }
    withName: 'pfb_reduce' {
        cpus   = 4
        memory = { 64.GB * task.attempt }
        time   = '3h'
    }
    withName: 'filter_baf_lrr_files' {
        cpus   = 2
        memory = { 64.GB * task.attempt }
        time   = { 6.h * task.attempt }
    }
    withName: 'select_unrel_topN' {
        cpus   = 2
        memory = { 16.GB * task.attempt }
        time   = '1h'
    }
    withName: 'split_iids' {
        cpus   = 2
        memory = { 32.GB * task.attempt }
        time   = { 1.h * task.attempt } 
    }
}
